# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codg]

*.sw[op]

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mac
.DS_Store
test*.py

#
# devel
#
.idea/
.vscode/

.project
.pydevproject
.settings/
.pytest_cache

.virtualenv
venv
node_modules/


/config_local.py
.python-version
/test.py
*.sql
nacos-data


